/* Default styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #272727;
  color: #f8f8f8;
}

.menu-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-links li {
  margin-right: 20px;
}

.menu-links a {
  color: #f8f8f8;
  text-decoration: none;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 100vh);
  grid-gap: 0;
}

.subpage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}

.subpage1 {
  background-color: red;
}

.subpage2 {
  background-color: green;
}

.subpage3 {
  background-color: blue;
}


.burger {
  display: none;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .menu-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #272727;
    z-index: 1;
  }

  .menu-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-links ul {
    flex-direction: column;
    align-items: center;
  }

  .burger {
    align-self: flex-end;
    display: block;
    cursor: pointer;
  }

  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 2px;
    background-color: #f8f8f8;
    margin: 4px;
  }
}
